<!-- <1>Welcome to Used Book Marketplace!</h1>
<p>Buy and Sell Used Books.</p>

<div>
    <a routerLink="/products">Browse Books</a> |
    <a routerLink="/sell-book">Sell a Book</a> |
    <a routerLink="/login">Login</a>
</div> -->

<!-- <div class="home-container">
    <h1>Welcome to Used Book Marketplace!</h1>
  
    <p *ngIf="username; else notLoggedIn">
      Welcome back, <strong>{{ username }}</strong>! You are logged in.
    </p>
    <ng-template #notLoggedIn>
      <p>Buy and Sell Used Books.</p>
    </ng-template>
  
    <div>
      <a routerLink="/products">Browse Books</a> |
      <a routerLink="/sell-book">Sell a Book</a> |
      <a routerLink="/login">Login</a> |
      <a routerLink="/cart">View Cart</a>
    </div>
  </div> --> 

  <div class="home-container">
    <img src="https://t3.ftcdn.net/jpg/03/21/97/42/360_F_321974259_BnmlxfkknMol8HiQ0dg1bwQizor48uB9.jpg" alt="Used Book Marketplace" class="header-image">

    <h1>Welcome to Used Book Marketplace!</h1>

    <p class="welcome-paragraph">Buy and Sell Used Books.</p>  <div class="nav-links-container">
        <a routerLink="/products" class="nav-link nav-link-browse">Browse Books</a>
        <a routerLink="/sell-book" class="nav-link nav-link-sell">Sell a Book</a>
        
        <a routerLink="/cart" class="nav-link nav-link-cart">View Cart</a>
    </div>

    <div class="home-container">
        <blockquote class="book-quote">
          At the Used Book Marketplace, we believe in sustainable reading.  Buy and sell used books to save money, reduce waste, and connect with fellow book enthusiasts.  Give pre-loved books a new chapter in their story, and discover your next literary adventure in our vibrant marketplace.  Start browsing and selling today!
            <footer class="quote-author"></footer>
        </blockquote>
        <img src="https://quotefancy.com/media/wallpaper/3840x2160/25953-Stephen-King-Quote-Books-are-a-uniquely-portable-magic.jpg" alt="Open Book" class="quote-image">
    </div>

    <p class="footer-text">&copy; 2025 Used Book Marketplace. All rights reserved.</p>

</div>
  <!-- <div class="home-container">
    <img src="https://t3.ftcdn.net/jpg/03/21/97/42/360_F_321974259_BnmlxfkknMol8HiQ0dg1bwQizor48uB9.jpg" alt="Used Book Marketplace" class="header-image">
 <a routerLink="/login" class="nav-link nav-link-login">Login</a> 
    <h1>Welcome to Used Book Marketplace!</h1>

    <p *ngIf="username; else notLoggedIn" class="welcome-paragraph">
        Welcome, book lover! It's great to have you back. Explore our collection and find your next literary adventure.
    </p>
    <ng-template #notLoggedIn>
        <p class="welcome-paragraph">Dive into a world of affordable reads. Buy, sell, and rediscover the joy of used books.</p>
    </ng-template>

    <div class="nav-links-container">
        <a routerLink="/products" class="nav-link nav-link-browse">Browse Books</a>
        <a routerLink="/sell-book" class="nav-link nav-link-sell">Sell a Book</a>
        <a routerLink="/login" class="nav-link nav-link-login">Login</a>
        <a routerLink="/cart" class="nav-link nav-link-cart">View Cart</a>
    </div>

    <div class="quote-container">
        <blockquote class="book-quote">
          "Books are a uniquely portable magic."
            <footer class="quote-author">- Stephen King</footer>
        </blockquote>
        <img src="https://quotefancy.com/media/wallpaper/3840x2160/25953-Stephen-King-Quote-Books-are-a-uniquely-portable-magic.jpg" alt="Open Book" class="quote-image">
    </div>

    <p class="footer-text">&copy; 2025 Used Book Marketplace. All rights reserved.</p>

</div> -->